<div class="modal" id="contact-modal">
    <div class="modal__content">
        <button class="modal__close" type="button">
            <img src="assets/images/close.svg" alt="Закрыть">
        </button>
        <form class="form" action="/" method="POST">

            <div class="form__group form__group--md">
                <input class="form__control" type="text"
                placeholder="Ваше имя">
                <span class="form__line"></span>
            </div>

            <div class="form__group form__group--md">
                <input class="form__control" type="text"
                placeholder="Ваш email">
                <span class="form__line"></span>
            </div>

            <div class="form__group form__group--md">
                <textarea class="form__control form__control--textarea" placeholder="Текст сообщения"></textarea>
                <span class="form__line"></span>
            </div>
            <div class="form__footer">
                <div class="form__group form__group--md">
                    <button class="btn btn--blue btn--rounded" type="submit">Отправить</button>
                </div>
            </div>
        </form>
        <ul class="modal__footer">
            <li>
                e-mail: <a href="mailto:sqroull@yandex.ru">
                    sqroull@yandex.ru</a>
            </li>
            <li>
                тел: <a href="tel:+79296821299">
                    +7-929-682-1299</a>
            </li>
        </ul>
    </div> <!-- ./ modal__content -->
</div> <!-- ./ modal -->