$primary: #202020;
$secondary: #121212;
$red: #ED3024;
$blue: #3137C9;
$white: #FFF;
$black: #000;
$gray: #828282;
$gray-second: #757575;
$black-second: #0D0D0D;
$related-title: #F3EBA2;
$main-border-color: #1C1C1C;
$tag-bckg-color: #EA8C1E;
$descr-color: #D2D2D2;
$post-bckg-color: #EBEBEB;

$z-index-sidebar: 1000;
$z-index-header: 1000;
$z-index-modal: 1010;

$sidebar-width: 30rem;

$tablet-bp: 991px;
$mobile-bp: 575px;

$bckg: background-color;

// $item: color;
// $transition-d: .2s;
// $transitoin-tf: ease;

// 3F3F3F
// B2B2B2
// D2D2D2
// C4C4C4
// 107EFF
// DEDEDE
// D2D2D2
// EBEBEB
// 050505

// 3.4rem

// display: flex;
// justify-content: space-between;
// align-items: flex-end;